<!DOCTYPE html>
<html>

<body>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/social.css">
  <div class="container">
        <ul class="social-network social-circle">
          <li><a href="{{site.authors.sal.linkedIn}}" target="_blank" class="icoLinkedin" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="{{site.authors.sal.medium}}" target="_blank" class="icoMedium" title="Follow me on Facebook"><i class="fa fa-medium"></i></a></li>
          <li><a href="{{site.authors.sal.twitter}}" target="_blank" class="icoRss" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="{{site.authors.sal.ig}}" target="_blank" class="icoTwitter" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></li>
          <li><a href="{{site.authors.sal.fb}}" target="_blank" class="icoFacebook" title="Let's be friends on Facebook"><i class="fa fa-facebook"></i></a></li>
          <!-- <li><a href="#" class="icoGoogle" title="Follow me on GitHub"><i class="fa fa-github"></i></a></li> -->
          
        </ul>
      </div>
    </div>
  </div>
</body>

</html>