---
layout: post
title: "Elon Musk's SpaceX Said to Violate Its Launch License in Explosive Starship Test: Report"
author: jane 
date: 31-01-2021 15:30:36 +05:30 
categories: [ BUSINESS ] 
image: assets/images/31-01-2021/spacex_starship_rocket_image_reuters_1611988170547.jpg
---
SpaceX's first high-altitude test flight of its Starship rocket, which exploded last month while attempting to land after an otherwise successful test launch, violated the terms of its Federal Aviation Administration test license, the Verge reported on Friday, citing sources.

An investigation was opened that week focusing on the explosive landing and on SpaceX's refusal to stick to the terms of what the US FAA authorised, the Verge said.

SpaceX did not immediately respond to a request for comment.

The Starship rocket destroyed in the accident was a 16-storey-tall prototype for the heavy-lift launch vehicle being developed by billionaire entrepreneur Elon Musk's private space company to carry humans and 100 tons of cargo on future missions to the moon and Mars.

The self-guided rocket blew up as it touched down on a landing pad following a controlled descent. The test flight had been intended to reach an altitude of 41,000 feet, propelled by three of SpaceX's newly developed Raptor engines for the first time.

But the company left unclear whether the rocket had flown that high.

The US FAA said it would evaluate additional information provided by SpaceX as part of its application to modify its launch license.

"We will approve the modification only after we are satisfied that SpaceX has taken the necessary steps to comply with regulatory requirements," it said in a statement.

© Thomson Reuters 2021

What will be the most exciting tech launch of 2021? We discussed this on Orbital, our weekly technology podcast, which you can subscribe to via Apple Podcasts, Google Podcasts, or RSS, download the episode, or just hit the play button below.